body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-min {
  max-width: 580px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
}

.pt-5 {
  padding-top: 2rem !important;
}
.pb-5 {
  padding-top: 3rem !important;
}
.pt-main {
  padding-top: 4rem !important;
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.flex-column {
  flex-direction: column !important;
}
@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
}

.d-flex {
  display: flex !important;
}


.img-fluid {
  max-width: 100%;
}

.images-img {
  max-width: 85px;
}

/* Stylowanie przycisku */
.button {
  background-color: #4CAF50; /* Zielony kolor tła */
  border: none;              /* Bez obramowania */
  color: white;              /* Biały tekst */
  padding: 15px 32px;        /* Wewnętrzne marginesy (padding) */
  text-align: center;        /* Wyśrodkowanie tekstu */
  text-decoration: none;     /* Brak podkreślenia */
  display: inline-block;     /* Wyświetlanie w jednej linii */
  font-size: 16px;           /* Rozmiar czcionki */
  margin: 4px 2px;           /* Margines wokół przycisku */
  cursor: pointer;           /* Kursor zmienia się na wskazujący */
  border-radius: 6px;       /* Zaokrąglone rogi */
  transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
}
.button-red {
  background-color: red;
}

/* Stylowanie przycisku po najechaniu myszką */
.button:hover {
  background-color: #45a049; /* Jaśniejszy zielony kolor po najechaniu */
}
.button-red:hover {
  background-color: red;
}
.input {
  height: 44px;
  margin-right: 20px;
  width: 200px;
  padding: 0px 15px;
  border-radius: 6px;     
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.ordinal {
  width: 30%;
  padding: 0 8px;
}
@media (max-width: 576px) {
  .ordinal {
    width: 100%;
    padding: 20px 20px;
  }
}
body {
  padding-bottom: 100px;
}